*{
    margin: 0;
    padding: 0;
}


.header {
    background-color: black;
    color: white;
    width: 100%;
    /*text-align: left;*/
    padding: 30px 15px 30px 15px;
}

.header-link :active, :visited, :link{
    color: white;
    text-decoration: none;
    /*padding-left: 30px;*/
}
.header-link :hover{
    color: rgb(153, 150, 150);
}

h1{
    width: 100%;
    text-align: center;
    display: inline-block;
}